.listings-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.listings-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.listing-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 48px;
  justify-content: space-between;
}

.listing-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 28px 40px;
  width: 388px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.listing-card:hover {
  transform: translateY(-3px);
  box-shadow: 4px 4px 12px rgba(0,0,0,0.15);
}

.photos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.listing-photo {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.listing-card button {
  padding: 14px 40px;
  border: 2px solid #8585ff;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px;
}
